registry=https://registry.npm.taobao.org/
@mep-components:registry=http://nexus.ur.com.cn/repository/npm-host
@mep-sula:registry=http://nexus.ur.com.cn/repository/npm-host
@ur-utils:registry=http://nexus.ur.com.cn/repository/npm-host
